body {
  font-family: Courier;
  color:#ffffff;
  font-size: 20px;
  justify-content: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
}
.parent > div{
  display: grid;
  padding: 150px;
  justify-content: center;
} 
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
}
.footer > div{
  display: grid;
  padding: 40px;
  justify-content: center;
} 
  .div1 { 
    grid-area: 1 / 1 / 2 / 13;
    background-color: #0092ff;
  }
  .div2 { 
    grid-area: 2 / 1 / 3 / 7;
    background-color: #eaad21;
  }
  .div3 { 
    grid-area: 2 / 7 / 3 / 13;
    background-color: #ffe200;
  }
  .div4 { 
    grid-area: 3 / 1 / 4 / 10; 
    background-color: #65bcb4;
  }
  .div5 { 
    grid-area: 3 / 10 / 4 / 13; 
    background-color: #0092ff;
  }
  .div6 { 
    grid-area: 4 / 1 / 5 / 5; 
    background-color: #eaad21;
  }
  .div7 { 
    grid-area: 4 / 5 / 5 / 9; 
    background-color: #ffe200; 
  }
  .div8 { 
    grid-area: 4 / 9 / 5 / 13;
    background-color: #eaad21; 
  }
  .div9 { 
    grid-area: 5 / 1 / 6 / 13; 
    background-color: #67bbb2;
  }
  .div10 { 
    grid-area: 1; 
    background-color: #0092ff;
  }

